/* Sidebar Styling */
.sidebar {
  position: fixed;
  width: 250px;
  top: 56px; /* Adjust to align below the header */
  left: 0;
  height: calc(100vh - 56px); /* Full height minus header height */
  background-color: #343a40;
  color: white;
  overflow-y: auto;
}

.sidebar .nav-link {
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.sidebar .nav-link.active {
  background-color: #6c757d;
}

.sidebar .nav-link:hover {
  background-color: #495057;
}
.nav-item{
  margin: 5px 0px 5px 0px;
}
